[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
TestResults/

.vs/
*.user
*.suo
*.userprefs

*.log
logs/

*.db
*.mdf
*.ldf

.idea/
.vscode/

node_modules/

docker-compose.override.yml

.env
.env.*
appsettings.*.local.json

packages/
.nuget/

coverage/
*.coverage
*.coveragexml